workflows/marias.json
{
  "name": "Maria's",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "treasury",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-800, -32],
      "id": "da168705-2116-49db-ac2c-4a25214d3021",
      "name": "Webhook",
      "webhookId": "aabfe8e2-e1b4-45b3-b4ac-e0e7853bcf71"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"resumeUrl\": \"{{ $execution.resumeUrl }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [-576, -32],
      "id": "0d943450-2efd-4b7a-aad8-ef27f28d3632",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7a9c5b3e-bd83-4f50-a390-7665be5a8593"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "approve"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "21b0f29f-71c0-405b-a212-bcbf1a0d47a5",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "reject",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reject"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b8a2fa97-2584-458a-b983-6677201fbdae",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "return",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "return"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [-128, -48],
      "id": "01f50529-4ab1-4c1b-85f1-bffbca541ef1",
      "name": "Switch4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LXR1D2E3XpKlxQ9t",
          "mode": "list",
          "cachedResultUrl": "/workflow/LXR1D2E3XpKlxQ9t",
          "cachedResultName": "Approval Sub-Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "department": 18600,
            "stepName": "Onboarding Team Review",
            "parentResumeUrl": "={{ $execution.resumeUrl }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "stepName",
              "displayName": "stepName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parentResumeUrl",
              "displayName": "parentResumeUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [-352, -32],
      "id": "0b2ccc09-1bd7-44c8-98ef-6609b06d444d",
      "name": "Onboarding Team Review"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7a9c5b3e-bd83-4f50-a390-7665be5a8593"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "approve"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "21b0f29f-71c0-405b-a212-bcbf1a0d47a5",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "reject",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reject"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b8a2fa97-2584-458a-b983-6677201fbdae",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "return",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "return"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [320, -48],
      "id": "76204017-c307-45b0-8955-68338b4c242f",
      "name": "Switch5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LXR1D2E3XpKlxQ9t",
          "mode": "list",
          "cachedResultUrl": "/workflow/LXR1D2E3XpKlxQ9t",
          "cachedResultName": "Approval Sub-Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "department": 18600,
            "stepName": "DocuSign - Customer Signature",
            "parentResumeUrl": "={{ $execution.resumeUrl }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "stepName",
              "displayName": "stepName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parentResumeUrl",
              "displayName": "parentResumeUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [96, -32],
      "id": "5f88d9b6-46b6-4078-8048-fb7bef4c0299",
      "name": "DocuSign - Customer Signature"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LXR1D2E3XpKlxQ9t",
          "mode": "list",
          "cachedResultUrl": "/workflow/LXR1D2E3XpKlxQ9t",
          "cachedResultName": "Approval Sub-Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "department": 18600,
            "stepName": "DocuSign - Customer Signature",
            "parentResumeUrl": "={{ $execution.resumeUrl }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "stepName",
              "displayName": "stepName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parentResumeUrl",
              "displayName": "parentResumeUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [544, -32],
      "id": "5931d6d4-c277-4ccc-aec0-410294c6e24f",
      "name": "Compliance Review"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7a9c5b3e-bd83-4f50-a390-7665be5a8593"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "approve"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "21b0f29f-71c0-405b-a212-bcbf1a0d47a5",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "reject",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reject"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b8a2fa97-2584-458a-b983-6677201fbdae",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "return",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "return"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [768, -48],
      "id": "4dd55e4a-542c-4ab1-9a3e-c7507bb122fc",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LXR1D2E3XpKlxQ9t",
          "mode": "list",
          "cachedResultUrl": "/workflow/LXR1D2E3XpKlxQ9t",
          "cachedResultName": "Approval Sub-Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "department": 18600,
            "stepName": "Core Setup",
            "parentResumeUrl": "={{ $execution.resumeUrl }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "stepName",
              "displayName": "stepName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parentResumeUrl",
              "displayName": "parentResumeUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [992, -32],
      "id": "1d1c6257-da6b-46d2-851b-ddc70da34a5e",
      "name": "Core Setup"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7a9c5b3e-bd83-4f50-a390-7665be5a8593"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "approve"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "21b0f29f-71c0-405b-a212-bcbf1a0d47a5",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "reject",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reject"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b8a2fa97-2584-458a-b983-6677201fbdae",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "return",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "return"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1216, -48],
      "id": "0cf43d4e-8f21-4aac-aeb3-1c2334a13e37",
      "name": "Switch1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LXR1D2E3XpKlxQ9t",
          "mode": "list",
          "cachedResultUrl": "/workflow/LXR1D2E3XpKlxQ9t",
          "cachedResultName": "Approval Sub-Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "department": 18600,
            "stepName": "iBanking Setup",
            "parentResumeUrl": "={{ $execution.resumeUrl }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "stepName",
              "displayName": "stepName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parentResumeUrl",
              "displayName": "parentResumeUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [1440, -32],
      "id": "4fb4f738-afa8-4770-b82a-3416143dde4d",
      "name": "iBanking Setup"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7a9c5b3e-bd83-4f50-a390-7665be5a8593"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "approve"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "21b0f29f-71c0-405b-a212-bcbf1a0d47a5",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "reject",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reject"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b8a2fa97-2584-458a-b983-6677201fbdae",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "return",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "return"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1664, -48],
      "id": "4c8351a0-391e-446c-b21a-72bd6f49c7b4",
      "name": "Switch2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LXR1D2E3XpKlxQ9t",
          "mode": "list",
          "cachedResultUrl": "/workflow/LXR1D2E3XpKlxQ9t",
          "cachedResultName": "Approval Sub-Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "department": 18600,
            "stepName": "Schedule Training",
            "parentResumeUrl": "={{ $execution.resumeUrl }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "stepName",
              "displayName": "stepName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parentResumeUrl",
              "displayName": "parentResumeUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [1888, -32],
      "id": "7db910c6-a5ac-4f4f-98ec-519fababf396",
      "name": "Schedule Training"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LXR1D2E3XpKlxQ9t",
          "mode": "list",
          "cachedResultUrl": "/workflow/LXR1D2E3XpKlxQ9t",
          "cachedResultName": "Approval Sub-Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "department": 18600,
            "stepName": "Profile Activation",
            "parentResumeUrl": "={{ $execution.resumeUrl }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "stepName",
              "displayName": "stepName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parentResumeUrl",
              "displayName": "parentResumeUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [2112, -32],
      "id": "cbdac591-c422-4846-b2d6-cef60e648a58",
      "name": "Profile Activation"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LXR1D2E3XpKlxQ9t",
          "mode": "list",
          "cachedResultUrl": "/workflow/LXR1D2E3XpKlxQ9t",
          "cachedResultName": "Approval Sub-Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "department": 18600,
            "stepName": "User SMS",
            "parentResumeUrl": "={{ $execution.resumeUrl }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "stepName",
              "displayName": "stepName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parentResumeUrl",
              "displayName": "parentResumeUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [2336, -32],
      "id": "e9897dd4-02b0-49a3-aaf4-dc4fcc385fb8",
      "name": "User SMS"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LXR1D2E3XpKlxQ9t",
          "mode": "list",
          "cachedResultUrl": "/workflow/LXR1D2E3XpKlxQ9t",
          "cachedResultName": "Approval Sub-Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "department": 18600,
            "stepName": "Training Session",
            "parentResumeUrl": "={{ $execution.resumeUrl }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "stepName",
              "displayName": "stepName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parentResumeUrl",
              "displayName": "parentResumeUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [2560, -32],
      "id": "ebcf0352-b468-4e32-96b2-a623cf0768b7",
      "name": "Training Session"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Onboarding Team Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Onboarding Team Review": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "DocuSign - Customer Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch5": {
      "main": [
        [
          {
            "node": "Compliance Review",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    },
    "DocuSign - Customer Signature": {
      "main": [
        [
          {
            "node": "Switch5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compliance Review": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Core Setup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Core Setup": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "iBanking Setup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iBanking Setup": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Schedule Training",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "iBanking Setup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Training": {
      "main": [
        [
          {
            "node": "Profile Activation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profile Activation": {
      "main": [
        [
          {
            "node": "User SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User SMS": {
      "main": [
        [
          {
            "node": "Training Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Training Session": {
      "main": [[]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "322ec664-af23-4a42-86af-75df93177efc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5687533f8654661277d143f544d49209a3ffae3f6bf19aec401c16bc6de25ef"
  },
  "id": "g9JSf3vD0OvdhrLW",
  "tags": []
}
