workflows/marias.json
{
  "name": "Maria's",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "treasury",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-672, 16],
      "id": "6ba6a7fd-ebe4-4093-a5fc-6a8e21d2fe61",
      "name": "Webhook",
      "webhookId": "aabfe8e2-e1b4-45b3-b4ac-e0e7853bcf71"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"resumeUrl\": \"{{ $execution.resumeUrl }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [-448, 16],
      "id": "99b1d4bf-f70c-4c69-a4e9-57dba5099d31",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7a9c5b3e-bd83-4f50-a390-7665be5a8593"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "approve"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "21b0f29f-71c0-405b-a212-bcbf1a0d47a5",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "reject",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reject"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b8a2fa97-2584-458a-b983-6677201fbdae",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "return",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "return"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [0, 0],
      "id": "ecedcd76-02bc-4135-b609-816e876c0770",
      "name": "Switch4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tNk5pGDCLuVJh37yeGZBb",
          "mode": "list",
          "cachedResultUrl": "/workflow/tNk5pGDCLuVJh37yeGZBb",
          "cachedResultName": "Approval Sub-Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "department": 18600,
            "parentResumeUrl": "={{ $execution.resumeUrl }}",
            "stepName": "Onboarding Team Review"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "stepName",
              "displayName": "stepName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "parentResumeUrl",
              "displayName": "parentResumeUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [-224, 16],
      "id": "1d21c704-5d4c-4887-8514-0ffb04a631cb",
      "name": "Onboarding Team Review"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7a9c5b3e-bd83-4f50-a390-7665be5a8593"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "approve"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "21b0f29f-71c0-405b-a212-bcbf1a0d47a5",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "reject",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reject"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b8a2fa97-2584-458a-b983-6677201fbdae",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "return",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "return"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [448, 0],
      "id": "8f74d0e2-cae5-4b0f-844c-3371dc3c7b35",
      "name": "Switch5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tNk5pGDCLuVJh37yeGZBb",
          "mode": "list",
          "cachedResultUrl": "/workflow/tNk5pGDCLuVJh37yeGZBb",
          "cachedResultName": "Approval Sub-Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parentResumeUrl": "={{ $execution.resumeUrl }}",
            "stepName": "DocuSign - Customer Signature",
            "department": 18600
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "stepName",
              "displayName": "stepName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "parentResumeUrl",
              "displayName": "parentResumeUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [224, 16],
      "id": "59d1559e-31ce-4253-8cea-a686023d807b",
      "name": "DocuSign - Customer Signature"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tNk5pGDCLuVJh37yeGZBb",
          "mode": "list",
          "cachedResultUrl": "/workflow/tNk5pGDCLuVJh37yeGZBb",
          "cachedResultName": "Approval Sub-Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parentResumeUrl": "={{ $execution.resumeUrl }}",
            "stepName": "Compliance Review",
            "department": 18600
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "stepName",
              "displayName": "stepName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "parentResumeUrl",
              "displayName": "parentResumeUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [672, 16],
      "id": "bc0f39a0-3a71-4af7-a3d3-5f27e7f95a9f",
      "name": "Compliance Review"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7a9c5b3e-bd83-4f50-a390-7665be5a8593"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "approve"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "21b0f29f-71c0-405b-a212-bcbf1a0d47a5",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "reject",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reject"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b8a2fa97-2584-458a-b983-6677201fbdae",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "return",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "return"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [896, 0],
      "id": "569e40bc-9822-4beb-a479-d9dfb38e0225",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tNk5pGDCLuVJh37yeGZBb",
          "mode": "list",
          "cachedResultUrl": "/workflow/tNk5pGDCLuVJh37yeGZBb",
          "cachedResultName": "Approval Sub-Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parentResumeUrl": "={{ $execution.resumeUrl }}",
            "stepName": "Core Setup",
            "department": 18600
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "stepName",
              "displayName": "stepName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "parentResumeUrl",
              "displayName": "parentResumeUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [1120, 16],
      "id": "4f7a48fd-cf03-4117-92fa-723dd10ed4a3",
      "name": "Core Setup"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7a9c5b3e-bd83-4f50-a390-7665be5a8593"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "approve"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "21b0f29f-71c0-405b-a212-bcbf1a0d47a5",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "reject",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reject"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b8a2fa97-2584-458a-b983-6677201fbdae",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "return",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "return"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1344, 0],
      "id": "efecdd63-ba61-4b5e-bb64-c05ec3d9786e",
      "name": "Switch1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tNk5pGDCLuVJh37yeGZBb",
          "mode": "list",
          "cachedResultUrl": "/workflow/tNk5pGDCLuVJh37yeGZBb",
          "cachedResultName": "Approval Sub-Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parentResumeUrl": "={{ $execution.resumeUrl }}",
            "stepName": "iBanking Setup",
            "department": 18600
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "stepName",
              "displayName": "stepName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "parentResumeUrl",
              "displayName": "parentResumeUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [1568, 16],
      "id": "9ff44132-c344-430e-8114-6b753355a432",
      "name": "iBanking Setup"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7a9c5b3e-bd83-4f50-a390-7665be5a8593"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "approve"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "21b0f29f-71c0-405b-a212-bcbf1a0d47a5",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "reject",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reject"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b8a2fa97-2584-458a-b983-6677201fbdae",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "return",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "return"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1792, 0],
      "id": "1d614e99-29ea-4451-9baa-bf3e52815ec6",
      "name": "Switch2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tNk5pGDCLuVJh37yeGZBb",
          "mode": "list",
          "cachedResultUrl": "/workflow/tNk5pGDCLuVJh37yeGZBb",
          "cachedResultName": "Approval Sub-Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parentResumeUrl": "={{ $execution.resumeUrl }}",
            "stepName": "Schedule Training",
            "department": 18600
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "stepName",
              "displayName": "stepName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "parentResumeUrl",
              "displayName": "parentResumeUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [2016, 16],
      "id": "ab9fa093-1f20-44a9-8566-8221930de1b9",
      "name": "Schedule Training"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tNk5pGDCLuVJh37yeGZBb",
          "mode": "list",
          "cachedResultUrl": "/workflow/tNk5pGDCLuVJh37yeGZBb",
          "cachedResultName": "Approval Sub-Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parentResumeUrl": "={{ $execution.resumeUrl }}",
            "stepName": "Profile Activation",
            "department": 18600
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "stepName",
              "displayName": "stepName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "parentResumeUrl",
              "displayName": "parentResumeUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [2240, 16],
      "id": "1331ec2b-c6c8-45bd-afdd-14481fc18ade",
      "name": "Profile Activation"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tNk5pGDCLuVJh37yeGZBb",
          "mode": "list",
          "cachedResultUrl": "/workflow/tNk5pGDCLuVJh37yeGZBb",
          "cachedResultName": "Approval Sub-Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parentResumeUrl": "={{ $execution.resumeUrl }}",
            "stepName": "User SMS",
            "department": 18600
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "stepName",
              "displayName": "stepName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "parentResumeUrl",
              "displayName": "parentResumeUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [2464, 16],
      "id": "56a0ad05-9cba-493b-9658-51ac5828134a",
      "name": "User SMS"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tNk5pGDCLuVJh37yeGZBb",
          "mode": "list",
          "cachedResultUrl": "/workflow/tNk5pGDCLuVJh37yeGZBb",
          "cachedResultName": "Approval Sub-Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parentResumeUrl": "={{ $execution.resumeUrl }}",
            "stepName": "Training Session",
            "department": 18600
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "stepName",
              "displayName": "stepName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "parentResumeUrl",
              "displayName": "parentResumeUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [2688, 16],
      "id": "bc0b2c0d-9cee-4ccc-b08b-519e1d4915d0",
      "name": "Training Session"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Onboarding Team Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Onboarding Team Review": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "DocuSign - Customer Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch5": {
      "main": [
        [
          {
            "node": "Compliance Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DocuSign - Customer Signature": {
      "main": [
        [
          {
            "node": "Switch5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compliance Review": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Core Setup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Core Setup": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "iBanking Setup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iBanking Setup": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Schedule Training",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "iBanking Setup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Training": {
      "main": [
        [
          {
            "node": "Profile Activation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profile Activation": {
      "main": [
        [
          {
            "node": "User SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User SMS": {
      "main": [
        [
          {
            "node": "Training Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3a933c99-a95c-4a1a-8173-6ef20d5cc2df",
  "meta": {
    "instanceId": "01d4e1c1390e48226f3e36a2b2d517243427ec36a47f0fb53b48e67357e5e3f0"
  },
  "id": "PEm61owqrEiwljnsZsH74",
  "tags": []
}
